---
interface Props {
    Name: string;
}
const { Name } = Astro.props;
---
<div class="flex items-center justify-between w-full lg:rounded-[16px] md:rounded-[20px] sm:rounded-[16px]
            bg-[#FFF] lg:px-6 md:px-6 sm:px-4 h-[60px]">
    <h1 class="flex font-bold lg:text-[18px] md:text-[18px] sm:text-[16px]
                lg:leading-[25px] md:leading-[25px] sm:leading-[22px]">{Name}</h1>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <circle cx="12" cy="12" r="12" fill="#ECEEF2"/>
      <path d="M11.5011 11.501V12.001H12.0011V11.501H11.5011ZM11.5011 12.501H12.0011V12.001H11.5011V12.501ZM12.5011 12.501V12.001H12.0011V12.501H12.5011ZM12.5011 11.501H12.0011V12.001H12.5011V11.501ZM12.0011 7.34375H13.0011C13.0011 6.79147 12.5533 6.34375 12.0011 6.34375V7.34375ZM12.0011 7.34375V6.34375C11.4488 6.34375 11.0011 6.79147 11.0011 7.34375H12.0011ZM12.0011 11.501V7.34375H11.0011V11.501H12.0011ZM7.34375 12.001H11.5011V11.001H7.34375V12.001ZM7.34375 12.001V11.001C6.79147 11.001 6.34375 11.4487 6.34375 12.001H7.34375ZM7.34375 12.001H6.34375C6.34375 12.5533 6.79147 13.001 7.34375 13.001V12.001ZM11.5011 12.001H7.34375V13.001H11.5011V12.001ZM12.0011 16.6575V12.501H11.0011V16.6575H12.0011ZM12.0011 16.6575H11.0011C11.0011 17.2098 11.4488 17.6575 12.0011 17.6575V16.6575ZM12.0011 16.6575V17.6575C12.5533 17.6575 13.0011 17.2098 13.0011 16.6575H12.0011ZM12.0011 12.501V16.6575H13.0011V12.501H12.0011ZM16.6575 12.001H12.5011V13.001H16.6575V12.001ZM16.6575 12.001V13.001C17.2098 13.001 17.6575 12.5533 17.6575 12.001H16.6575ZM16.6575 12.001H17.6575C17.6575 11.4487 17.2098 11.001 16.6575 11.001V12.001ZM12.5011 12.001H16.6575V11.001H12.5011V12.001ZM12.0011 7.34375V11.501H13.0011V7.34375H12.0011Z" fill="#374151"/>
   </svg>
</div>