---
import Img from "./img.astro";
import Detail from "./detail.astro";
---
<section class="flex lg:flex-row md:flex-row justify-between sm:flex-col lg:gap-6 md:gap-6 sm:gap-0
                 bg-[#FFF] lg:rounded-[24px] md:rounded-[24px] lg:px-8 md:px-8 sm:px-2 lg:py-10 md:py-10 sm:py-0">
    <div class="flex w-[375px]">
        <Img path="../../../assets/imgs/dress-5.png"/>
    </div>
    <div class="flex">
        <Detail />
    </div>
</section>