<section class="flex flex-col">
  <div
    class="gradient-hero-bg flex flex-col justify-evenly text-center gap-4 py-6 md:py-0 md:mt-8 md:mx-2 md:rounded-3xl md:pb-20 lg:pb-36 lg:mx-8 lg:gap-8"
  >
    <h1
      class="text-2xl md:text-3xl lg:text-4xl mobile-h1 tablet-h1 desktop-h1 font-bold text-zinc-800 px-2 md:mt-12 lg:px-16 xl:px-60"
    >
      Find Perfect Wear with AI-Powered Experience
    </h1>
    <h4 class="hero-subheading text-gray-700 md:text-2xl">
      Empowering Your Style with AI-Powered Recommendations
    </h4>
  </div>
  <div
    class="p-3 flex flex-col justify-evenly gap-4 shadow-2xl linear-frosted-glass md:-mt-16 md:mx-24 md:rounded-3xl lg:-mt-28 lg:mx-28 lg:gap-6 lg:px-10"
  >
    <div class="relative flex items-center lg:mt-3">
      <svg
        class="absolute left-3 lg:w-10 lg:h-10 lg:rounded-full"
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="avatar">
          <rect width="18" height="18" rx="6" fill="#ECEEF2"></rect>
          <g id="person">
            <mask
              id="mask0_3713_84"
              style="mask-type:alpha"
              maskUnits="userSpaceOnUse"
              x="3"
              y="3"
              width="12"
              height="12"
            >
              <rect
                id="Bounding box"
                x="3.60156"
                y="3.59961"
                width="10.8"
                height="10.8"
                fill="#D9D9D9"></rect>
            </mask>
            <g mask="url(#mask0_3713_84)">
              <path
                id="person_2"
                d="M9 9C8.38125 9 7.85156 8.77969 7.41094 8.33906C6.97031 7.89844 6.75 7.36875 6.75 6.75C6.75 6.13125 6.97031 5.60156 7.41094 5.16094C7.85156 4.72031 8.38125 4.5 9 4.5C9.61875 4.5 10.1484 4.72031 10.5891 5.16094C11.0297 5.60156 11.25 6.13125 11.25 6.75C11.25 7.36875 11.0297 7.89844 10.5891 8.33906C10.1484 8.77969 9.61875 9 9 9ZM4.5 13.5V11.925C4.5 11.6062 4.58203 11.3133 4.74609 11.0461C4.91016 10.7789 5.12813 10.575 5.4 10.4344C5.98125 10.1438 6.57187 9.92578 7.17188 9.78047C7.77188 9.63516 8.38125 9.5625 9 9.5625C9.61875 9.5625 10.2281 9.63516 10.8281 9.78047C11.4281 9.92578 12.0188 10.1438 12.6 10.4344C12.8719 10.575 13.0898 10.7789 13.2539 11.0461C13.418 11.3133 13.5 11.6062 13.5 11.925V13.5H4.5Z"
                fill="#22272F"></path>
            </g>
          </g>
        </g>
      </svg>
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute right-2 lg:w-10 lg:h-10"
      >
        <g id="mic-02">
          <path
            id="Vector"
            opacity="0.4"
            d="M5.20703 5.83366C5.20703 3.18729 7.35233 1.04199 9.9987 1.04199C12.645 1.04199 14.7904 3.18729 14.7904 5.83366V9.16699C14.7904 11.8133 12.645 13.9587 9.9987 13.9587C7.35233 13.9587 5.20703 11.8133 5.20703 9.16699V5.83366Z"
            fill="url(#paint0_linear_3713_89)"></path>
          <path
            id="Vector_2"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M3.51721 8.54199C3.96467 8.54199 4.3274 8.90074 4.3274 9.34324C4.3274 12.441 6.86653 14.9522 9.9987 14.9522C13.1309 14.9522 15.67 12.441 15.67 9.34324C15.67 8.90074 16.0327 8.54199 16.4802 8.54199C16.9276 8.54199 17.2904 8.90074 17.2904 9.34324C17.2904 13.0552 14.4547 16.1122 10.8089 16.5108V17.3561H12.4293C12.8767 17.3561 13.2394 17.7148 13.2394 18.1574C13.2394 18.5999 12.8767 18.9587 12.4293 18.9587H7.56814C7.12069 18.9587 6.75796 18.5999 6.75796 18.1574C6.75796 17.7148 7.12069 17.3561 7.56814 17.3561H9.18853V16.5108C5.54272 16.1122 2.70703 13.0552 2.70703 9.34324C2.70703 8.90074 3.06976 8.54199 3.51721 8.54199Z"
            fill="url(#paint1_linear_3713_89)"></path>
        </g>
        <defs>
          <linearGradient
            id="paint0_linear_3713_89"
            x1="7.60286"
            y1="13.9587"
            x2="15.0855"
            y2="2.85545"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#6941C6"></stop>
            <stop offset="1" stop-color="#754FD8"></stop>
          </linearGradient>
          <linearGradient
            id="paint1_linear_3713_89"
            x1="6.35286"
            y1="18.9587"
            x2="10.4771"
            y2="7.41077"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#6941C6"></stop>
            <stop offset="1" stop-color="#754FD8"></stop>
          </linearGradient>
        </defs>
      </svg>
      <input
        placeholder="A summer vacation outfit for trip to Paris"
        type="search"
        class="w-full border-2 border-gray-300 pl-8 pr-2 py-2 rounded-xl text-xs sm:text-sm focus:outline-none focus:border-zinc-700 placeholder-zinc-800 lg:text-xl lg:pl-16 font-semibold"
      />
    </div>
    <hr class="border-none text-zinc-700 h-px bg-zinc-200" />
    <div
      class="flex justify-evenly gap-3 flex-col md:justify-between md:flex-row"
    >
      <div class="flex justify-evenly gap-2 md:w-1/3 xl:w-1/4">
        <div
          class="flex items-center justify-center w-1/2 border border-gray-300 rounded-3xl focus:border-zinc-700 py-2"
        >
          <select
            class="appearance-none text-zinc-800 font-bold heading-14 md:text-xs lg:text-sm"
          >
            <option selected>Woman</option>
            <option>Man</option>
            <option>Unisex</option>xf
          </select>
          <svg
            width="17"
            height="17"
            viewBox="0 0 17 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="icons/Arrow Down Simple/Line">
              <path
                id="Shape"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.5547 7.0286C11.2944 6.76825 10.8723 6.76825 10.6119 7.0286L8.75 8.89052L6.88807 7.0286C6.62772 6.76825 6.20561 6.76825 5.94526 7.0286C5.68491 7.28894 5.68491 7.71105 5.94526 7.9714L8.2786 10.3047C8.53894 10.5651 8.96105 10.5651 9.2214 10.3047L11.5547 7.9714C11.8151 7.71105 11.8151 7.28894 11.5547 7.0286Z"
                fill="#8495AC"></path>
            </g>
          </svg>
        </div>
        <div
          class="flex items-center justify-center w-1/2 border border-gray-300 rounded-3xl focus:border-zinc-700 py-2"
        >
          <select
            class="appearance-none text-slate-600 heading-14 md:text-xs lg:text-sm"
          >
            <option disabled selected>$min-max</option>
          </select>
          <svg
            width="17"
            height="17"
            viewBox="0 0 17 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="icons/Arrow Down Simple/Line">
              <path
                id="Shape"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.5547 7.0286C11.2944 6.76825 10.8723 6.76825 10.6119 7.0286L8.75 8.89052L6.88807 7.0286C6.62772 6.76825 6.20561 6.76825 5.94526 7.0286C5.68491 7.28894 5.68491 7.71105 5.94526 7.9714L8.2786 10.3047C8.53894 10.5651 8.96105 10.5651 9.2214 10.3047L11.5547 7.9714C11.8151 7.71105 11.8151 7.28894 11.5547 7.0286Z"
                fill="#8495AC"></path>
            </g>
          </svg>
        </div>
      </div>
      <!-- why isnt linear purple bg working? -->
      <button
        type="button"
        class="linear-purple-bg bg-violet-700 button-hover button-shadow rounded-md w-full py-3 text-white flex items-center px-7 heading-16 font-medium justify-between md:w-1/3 md:px-4 md:text-sm md:justify-center md:gap-2 lg:text-base xl:w-1/5 xl:gap-4"
        >Search with AI
        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class=""
        >
          <g id="search" clip-path="url(#clip0_3713_106)">
            <path
              id="Vector"
              d="M12.5818 11.5222C13.1628 11.3299 13.8284 11.4649 14.2906 11.9272L16.5718 14.2084C17.2247 14.8613 17.2247 15.9199 16.5718 16.5728C15.9189 17.2257 14.8603 17.2257 14.2074 16.5728L11.9262 14.2916C11.4639 13.8294 11.3289 13.1638 11.5212 12.5828L9.96875 11.0304L11.0294 9.96973L12.5818 11.5222Z"
              fill="white"></path>
            <path
              id="Vector_2"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.75 6.75C0.75 3.43629 3.43629 0.75 6.75 0.75C10.0637 0.75 12.75 3.43629 12.75 6.75C12.75 10.0637 10.0637 12.75 6.75 12.75C3.43629 12.75 0.75 10.0637 0.75 6.75ZM6.75 2.25C4.26472 2.25 2.25 4.26472 2.25 6.75C2.25 9.23528 4.26472 11.25 6.75 11.25C9.23528 11.25 11.25 9.23528 11.25 6.75C11.25 4.26472 9.23528 2.25 6.75 2.25Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip0_3713_106">
              <rect width="18" height="18" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </button>
    </div>
  </div>
</section>
