<section class="gradient-hero-bg p-6 rounded-2xl text-zinc-800 mx-2 shadow-2xl">
  <!-- Is this the right way to use header tag? -->
  <header class="mb-12">
    <h1 class="text-2xl font-bold leading-9">Powerful Features</h1>
    <h4 class="mt-2 leading-7">
      Provides you with AI Powered Personalization.
    </h4>
  </header>
  <div class="flex flex-col gap-5 leading-6">
    <div class="flex flex-col gap-2">
      <svg
        width="36"
        height="36"
        viewBox="0 0 36 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="sparkles">
          <path
            id="Vector"
            d="M22.5 3L23.3081 6.58736C23.9936 9.63023 26.3697 12.0065 29.4126 12.6919L33 13.5L29.4126 14.3081C26.3697 14.9935 23.9936 17.3697 23.3081 20.4126L22.5 24L21.6919 20.4126C21.0064 17.3697 18.6303 14.9935 15.5874 14.3081L12 13.5L15.5874 12.6919C18.6301 12.0065 21.0064 9.63023 21.6919 6.58737L22.5 3Z"
            stroke="#22272F"
            stroke-width="1.5"
            stroke-linejoin="round"></path>
          <path
            id="Vector_2"
            d="M10.5 18L11.0772 20.5624C11.5668 22.7358 13.2641 24.4332 15.4376 24.9228L18 25.5L15.4376 26.0772C13.2641 26.5668 11.5668 28.2641 11.0772 30.4376L10.5 33L9.92279 30.4376C9.43319 28.2641 7.73588 26.5668 5.56241 26.0772L3 25.5L5.56241 24.9228C7.73588 24.4332 9.43319 22.7359 9.92279 20.5624L10.5 18Z"
            stroke="#22272F"
            stroke-width="1.5"
            stroke-linejoin="round"></path>
        </g>
      </svg>
      <h2 class="text-lg font-bold">AI-Powered</h2>
      <p>Implement AI-powered personalization</p>
    </div>
    <div class="flex flex-col gap-2">
      <svg
        width="36"
        height="36"
        viewBox="0 0 36 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="security-lock">
          <path
            id="Vector"
            d="M17.9973 3C13.4856 3 10.5603 6.02848 7.10057 7.13235C5.69384 7.58119 4.99046 7.80561 4.7058 8.12197C4.42115 8.43834 4.33779 8.90062 4.17108 9.82519C2.38715 19.719 6.28635 28.866 15.5855 32.4263C16.5846 32.8088 17.0841 33 18.0023 33C18.9203 33 19.4199 32.8088 20.4189 32.4263C29.7174 28.8659 33.6129 19.719 31.8285 9.82519C31.6617 8.90046 31.5783 8.4381 31.2936 8.12174C31.0089 7.80537 30.3056 7.58108 28.8989 7.13249C25.4378 6.02873 22.5092 3 17.9973 3Z"
            stroke="#22272F"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            id="Vector_2"
            d="M14.25 15.5625C14.25 16.1838 14.7537 16.6875 15.375 16.6875C15.9963 16.6875 16.5 16.1838 16.5 15.5625H14.25ZM19.5 15.5625C19.5 16.1838 20.0037 16.6875 20.625 16.6875C21.2463 16.6875 21.75 16.1838 21.75 15.5625H19.5ZM16.6875 16.6875H19.3125V14.4375H16.6875V16.6875ZM19.3125 22.875H16.6875V25.125H19.3125V22.875ZM16.6875 22.875C16.0595 22.875 15.6488 22.8742 15.3333 22.8513C15.0294 22.8289 14.9007 22.7904 14.8268 22.7577L13.9141 24.8142C14.3226 24.9956 14.7409 25.0639 15.1692 25.0953C15.5858 25.1257 16.0925 25.125 16.6875 25.125V22.875ZM11.625 19.7812C11.625 20.422 11.6245 20.9553 11.6523 21.3916C11.6806 21.8365 11.7417 22.2585 11.9005 22.6695L13.9991 21.8581C13.9582 21.7521 13.9193 21.5882 13.8977 21.2487C13.8755 20.9004 13.875 20.4508 13.875 19.7812H11.625ZM14.8268 22.7577C14.4707 22.5996 14.1641 22.2849 13.9991 21.8581L11.9005 22.6695C12.2684 23.6211 12.9839 24.4014 13.9141 24.8142L14.8268 22.7577ZM22.125 19.7812C22.125 20.4508 22.1244 20.9004 22.1024 21.2487C22.0808 21.5882 22.0419 21.7521 22.0008 21.8581L24.0994 22.6695C24.2583 22.2585 24.3194 21.8365 24.3477 21.3916C24.3756 20.9553 24.375 20.422 24.375 19.7812H22.125ZM19.3125 25.125C19.9076 25.125 20.4143 25.1257 20.8308 25.0953C21.2592 25.0639 21.6774 24.9956 22.0859 24.8142L21.1733 22.7577C21.0993 22.7904 20.9706 22.8289 20.6667 22.8513C20.3512 22.8742 19.9406 22.875 19.3125 22.875V25.125ZM22.0008 21.8581C21.836 22.2849 21.5294 22.5996 21.1733 22.7577L22.0859 24.8142C23.0162 24.4014 23.7316 23.6211 24.0994 22.6695L22.0008 21.8581ZM19.3125 16.6875C19.9406 16.6875 20.3512 16.6883 20.6667 16.7112C20.9706 16.7336 21.0993 16.7721 21.1733 16.8048L22.0859 14.7483C21.6774 14.567 21.2592 14.4986 20.8308 14.4673C20.4143 14.4368 19.9076 14.4375 19.3125 14.4375V16.6875ZM24.375 19.7812C24.375 19.1405 24.3756 18.6072 24.3477 18.1709C24.3194 17.726 24.2583 17.304 24.0994 16.893L22.0008 17.7044C22.0419 17.8104 22.0808 17.9743 22.1024 18.3138C22.1244 18.6621 22.125 19.1117 22.125 19.7812H24.375ZM21.1733 16.8048C21.5294 16.9629 21.836 17.2776 22.0008 17.7044L24.0994 16.893C23.7316 15.9416 23.0162 15.1611 22.0859 14.7483L21.1733 16.8048ZM16.6875 14.4375C16.0925 14.4375 15.5858 14.4368 15.1692 14.4673C14.7409 14.4986 14.3226 14.567 13.9141 14.7483L14.8268 16.8048C14.9007 16.7721 15.0294 16.7336 15.3333 16.7112C15.6488 16.6883 16.0595 16.6875 16.6875 16.6875V14.4375ZM13.875 19.7812C13.875 19.1117 13.8755 18.6621 13.8977 18.3138C13.9193 17.9743 13.9582 17.8104 13.9991 17.7044L11.9005 16.893C11.7417 17.304 11.6806 17.726 11.6523 18.1709C11.6245 18.6072 11.625 19.1405 11.625 19.7812H13.875ZM13.9141 14.7483C12.9839 15.1611 12.2684 15.9416 11.9005 16.893L13.9991 17.7044C14.1641 17.2776 14.4707 16.9629 14.8268 16.8048L13.9141 14.7483ZM16.5 15.5625V13.0312H14.25V15.5625H16.5ZM19.5 13.0312V15.5625H21.75V13.0312H19.5ZM18 11.625C18.8673 11.625 19.5 12.2928 19.5 13.0312H21.75C21.75 10.9737 20.0322 9.375 18 9.375V11.625ZM16.5 13.0312C16.5 12.2928 17.1327 11.625 18 11.625V9.375C15.9678 9.375 14.25 10.9737 14.25 13.0312H16.5Z"
            fill="#22272F"></path>
        </g>
      </svg>
      <h2 class="text-lg font-bold">Secure Payment</h2>
      <p>Integrate popular payment gateways to securely process.</p>
    </div>
    <div class="flex flex-col gap-2">
      <svg
        width="36"
        height="36"
        viewBox="0 0 36 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="user-group">
          <path
            id="Vector"
            d="M31.161 27C32.285 27 33.1789 26.2928 33.9817 25.3037C35.6248 23.2791 32.9269 21.6612 31.8981 20.8689C30.852 20.0634 29.6841 19.6071 28.5 19.5M27 16.5C29.071 16.5 30.75 14.8211 30.75 12.75C30.75 10.6789 29.071 9 27 9"
            stroke="#22272F"
            stroke-width="1.5"
            stroke-linecap="round"></path>
          <path
            id="Vector_2"
            d="M4.83894 27C3.71499 27 2.821 26.2928 2.01832 25.3037C0.37513 23.2791 3.073 21.6612 4.10197 20.8689C5.14795 20.0634 6.31587 19.6071 7.5 19.5M8.25 16.5C6.17893 16.5 4.5 14.8211 4.5 12.75C4.5 10.6789 6.17893 9 8.25 9"
            stroke="#22272F"
            stroke-width="1.5"
            stroke-linecap="round"></path>
          <path
            id="Vector_3"
            d="M12.1257 22.6668C10.593 23.6145 6.57448 25.5496 9.02205 27.9711C10.2177 29.154 11.5493 30 13.2234 30H22.7766C24.4507 30 25.7823 29.154 26.9779 27.9711C29.4255 25.5496 25.407 23.6145 23.8743 22.6668C20.2801 20.4444 15.7198 20.4444 12.1257 22.6668Z"
            stroke="#22272F"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            id="Vector_4"
            d="M23.25 11.25C23.25 14.1495 20.8995 16.5 18 16.5C15.1005 16.5 12.75 14.1495 12.75 11.25C12.75 8.3505 15.1005 6 18 6C20.8995 6 23.25 8.3505 23.25 11.25Z"
            stroke="#22272F"
            stroke-width="1.5"></path>
        </g>
      </svg>
      <h2 class="text-lg font-bold">Trusted Payment</h2>
      <p>We work with more then 100+ trusted partners</p>
    </div>
  </div>
</section>
