---
interface Props {
    count: number;
}
const { count } = Astro.props;
---
<div class="flex flex-row px-2 text-[16px] mt-4 leading-[22px] text-[#095E3A] items-center">
    <div class="pl-2 mr-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M20 6L9 17L4 12" stroke="#095E3A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
    <h4>List updated (found {count} items)</h4>
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
        <mask id="mask0_4066_1306" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="18" height="18">
          <rect x="18" y="18" width="18" height="18" transform="rotate(-180 18 18)" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_4066_1306)">
          <path d="M6 1.5L13.5 9L6 16.5L4.66875 15.1687L10.8375 9L4.66875 2.83125L6 1.5Z" fill="#095E3A"/>
        </g>
    </svg>
</div> 