<div class="flex w-full bg-white px-4 py-2 rounded-bl-xl items-center">
  <div class="relative grow">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      class="absolute top-1/2 right-3 transform -translate-y-1/2"
    >
      <mask
        id="mask0_3737_132"
        style="mask-type:alpha"
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="24"
        height="24"
      >
        <rect width="24" height="24" fill="#D9D9D9"></rect>
      </mask>
      <g mask="url(#mask0_3737_132)">
        <path
          d="M4.4 19.4252C4.06667 19.5585 3.75 19.5294 3.45 19.3377C3.15 19.146 3 18.8669 3 18.5002V14.0002L11 12.0002L3 10.0002V5.50022C3 5.13355 3.15 4.85438 3.45 4.66272C3.75 4.47105 4.06667 4.44188 4.4 4.57522L19.8 11.0752C20.2167 11.2585 20.425 11.5669 20.425 12.0002C20.425 12.4335 20.2167 12.7419 19.8 12.9252L4.4 19.4252Z"
          fill="#506079"></path>
      </g>
    </svg>
    <input
      class="text-slate-600 leading-[1.6rem] tracking-[-0.01rem] font-roboto border-slate-600 border-[0.5px] rounded-full px-4 py-[0.62rem] w-full"
      type="search"
      placeholder="Send a message"
    />
  </div>
  <div
    class="rounded-full border-slate-600 border-[0.5px] p-[0.625rem] ml-4 cursor-pointer"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      class=""
    >
      <path
        opacity="0.4"
        d="M6.25 7C6.25 3.82436 8.82436 1.25 12 1.25C15.1756 1.25 17.75 3.82436 17.75 7V11C17.75 14.1756 15.1756 16.75 12 16.75C8.82436 16.75 6.25 14.1756 6.25 11V7Z"
        fill="url(#paint0_linear_3737_136)"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M4.22222 10.25C4.75917 10.25 5.19444 10.6805 5.19444 11.2115C5.19444 14.9288 8.2414 17.9423 12 17.9423C15.7586 17.9423 18.8056 14.9288 18.8056 11.2115C18.8056 10.6805 19.2408 10.25 19.7778 10.25C20.3147 10.25 20.75 10.6805 20.75 11.2115C20.75 15.6659 17.3472 19.3343 12.9722 19.8126V20.8269H14.9167C15.4536 20.8269 15.8889 21.2574 15.8889 21.7885C15.8889 22.3195 15.4536 22.75 14.9167 22.75H9.08333C8.54639 22.75 8.11111 22.3195 8.11111 21.7885C8.11111 21.2574 8.54639 20.8269 9.08333 20.8269H11.0278V19.8126C6.65283 19.3343 3.25 15.6659 3.25 11.2115C3.25 10.6805 3.68528 10.25 4.22222 10.25Z"
        fill="url(#paint1_linear_3737_136)"></path>
      <defs>
        <linearGradient
          id="paint0_linear_3737_136"
          x1="9.125"
          y1="16.75"
          x2="18.1041"
          y2="3.42614"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#6941C6"></stop>
          <stop offset="1" stop-color="#754FD8"></stop>
        </linearGradient>
        <linearGradient
          id="paint1_linear_3737_136"
          x1="7.625"
          y1="22.75"
          x2="12.5741"
          y2="8.89253"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#6941C6"></stop>
          <stop offset="1" stop-color="#754FD8"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
</div>
