---
import ChatInput from "./ChatInput.astro";
import ChatQuestion from "./ChatQuestion.astro";
import ChatAnswer from "./ChatAnswer.astro";
import ChatGenerate from "./ChatGenerate.astro";
import ChatCheck from "./ChatCheck.astro";
---

<section class="bg-gray-100 z-0 w-full overflow-y-auto border-r relative px-2 py-4 gap-4 h-[100%] ">
  <ChatQuestion data="Of course! A beautiful summer vacation dress for a trip to Paris could be a versatile and stylish option. Here's a suggestion: Midi Wrap Dress: A midi wrap dress is a classic and chic choice that's perfect for exploring Paris."/>
  <ChatAnswer data="Dress with tosca nuance"/>
  <ChatGenerate />
  <ChatCheck count={30}/>
  <ChatQuestion data="Of course! A beautiful summer vacation dress for a trip to Paris could be a versatile and stylish option. Here's a suggestion: Midi Wrap Dress: A midi wrap dress is a classic and chic choice that's perfect for exploring Paris."/>
  <ChatAnswer data="Dress with tosca nuance"/>
  <ChatGenerate />
  <ChatCheck count={30}/>
  <ChatQuestion data="Of course! A beautiful summer vacation dress for a trip to Paris could be a versatile and stylish option. Here's a suggestion: Midi Wrap Dress: A midi wrap dress is a classic and chic choice that's perfect for exploring Paris."/>
  <ChatAnswer data="Dress with tosca nuance"/>
  <ChatGenerate />
  <ChatCheck count={30}/>
  <ChatQuestion data="Of course! A beautiful summer vacation dress for a trip to Paris could be a versatile and stylish option. Here's a suggestion: Midi Wrap Dress: A midi wrap dress is a classic and chic choice that's perfect for exploring Paris."/>
  <ChatAnswer data="Dress with tosca nuance"/>
  <ChatGenerate />
  <ChatCheck count={30}/>
  <ChatQuestion data="Of course! A beautiful summer vacation dress for a trip to Paris could be a versatile and stylish option. Here's a suggestion: Midi Wrap Dress: A midi wrap dress is a classic and chic choice that's perfect for exploring Paris."/>
  <ChatAnswer data="Dress with tosca nuance"/>
  <ChatGenerate />
  <ChatCheck count={30}/>
  <!-- <section class="bg-gray-100 w-full rounded-bl-[20px] sticky bottom-0">
    <ChatInput Type="A"/>
  </section> -->
</section>
