---
import ChatInput from "./ChatInput.astro";
---

<section class="bg-gray-100 w-full h-full relative">
  <div class="bg-white w-[37.5rem] rounded ml-1">
    <p>
      Of course! A beautiful summer vacation dress for a trip to Paris could be
      a versatile and stylish option. Here's a suggestion: Midi Wrap Dress: A
      midi wrap dress is a classic and chic choice that's perfect for exploring
      Paris.
    </p>
  </div>
  <div class="absolute bottom-0 w-full">
    <ChatInput />
  </div>
</section>
