---
import Carou from './Carou.jsx'
import CarouItem from './Carou.astro';
const results = [
  { id:"1", name :"Fendy Dress", path: "../../../assets/imgs/dress-1.png", },
  { id:"2", name :"Versace Dress", path: "../../../assets/imgs/dress-2.png", },
  { id:"3", name :"Prada Dress", path: "../../../assets/imgs/dress-3.png", },
  { id:"4", name :"Balenciaga Dress", path: "../../../assets/imgs/dress-4.png", },
];
---
<section class="bg-white w-full h-full flex flex-row gap-6">
  <!-- <MySwiper /> -->
  <CarouItem>
</section>



