<section class="bg-zinc-50 px-2">
  <div class="flex flex-col justify-center items-center text-center">
    <h1 class="text-2xl font-bold pt-10 leading-[2.125rem]">
      Frequently asked questions
    </h1>
    <p class="leading-[1.8rem] font-[1.125rem] tracking-[0.01575rem] pt-2">
      Discover a wealth of information on our AI-Powered Fashion site, where you
      can gain comprehensive insights into the cutting-edge features,
      functionalities, and advantages that revolutionize the fashion industry
      and elevate your shopping experience.
    </p>
  </div>
</section>
