---
const { bg_color }= Astro.props;
---
<div class=`flex flex-col bg-${bg_color}
            lg:px-16 md:px-8 sm:px-2 py-4 gap-5`>
    <div class="flex flex-col gap-3">
        <div class="flex items-center justify-center">
            <div class="flex p-2 gradient-footer-bg rounded-[8px]">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                >
                <rect width="24" height="24" rx="4" fill="url(#paint0_linear_3713_68)"
                ></rect>
                <path
                    d="M15 1.25C15.3507 1.25 15.6546 1.49305 15.7317 1.83518L16.2704 4.22676C16.6637 5.97278 18.0272 7.33629 19.7732 7.7296L22.1648 8.26833C22.507 8.3454 22.75 8.64929 22.75 9C22.75 9.35071 22.507 9.6546 22.1648 9.73167L19.7732 10.2704C18.0272 10.6637 16.6637 12.0272 16.2704 13.7732L15.7317 16.1648C15.6546 16.507 15.3507 16.75 15 16.75C14.6493 16.75 14.3454 16.507 14.2683 16.1648L13.7296 13.7732C13.3363 12.0272 11.9728 10.6637 10.2268 10.2704L7.83518 9.73167C7.49305 9.6546 7.25 9.35071 7.25 9C7.25 8.64929 7.49305 8.3454 7.83518 8.26833L10.2268 7.7296C11.9728 7.33629 13.3363 5.97278 13.7296 4.22676L14.2683 1.83518C14.3454 1.49305 14.6493 1.25 15 1.25Z"
                    fill="white"></path>
                <path
                    d="M7 11.25C7.35071 11.25 7.6546 11.493 7.73167 11.8352L8.11647 13.5435C8.37923 14.7099 9.29012 15.6208 10.4565 15.8835L12.1648 16.2683C12.507 16.3454 12.75 16.6493 12.75 17C12.75 17.3507 12.507 17.6546 12.1648 17.7317L10.4565 18.1165C9.29012 18.3792 8.37923 19.2901 8.11647 20.4565L7.73167 22.1648C7.6546 22.507 7.35071 22.75 7 22.75C6.64929 22.75 6.3454 22.507 6.26833 22.1648L5.88353 20.4565C5.62077 19.2901 4.70988 18.3792 3.54345 18.1165L1.83518 17.7317C1.49305 17.6546 1.25 17.3507 1.25 17C1.25 16.6493 1.49305 16.3454 1.83518 16.2683L3.54345 15.8835C4.70988 15.6208 5.62077 14.7099 5.88353 13.5435L6.26833 11.8352C6.3454 11.493 6.64929 11.25 7 11.25Z"
                    fill="white"></path>
                <defs>
                    <linearGradient
                    id="paint0_linear_3713_68"
                    x1="6"
                    y1="24"
                    x2="18"
                    y2="-1.16229e-06"
                    gradientUnits="userSpaceOnUse"
                    >
                    <stop stop-color="#6941C6"></stop>
                    <stop offset="1" stop-color="#754FD8"></stop>
                    </linearGradient>
                </defs>
                </svg>
            </div>
        </div>
        <div class="flex flex-row justify-center gap-[18px]
                    lg:text-[16px] md:text-[16px] sm:text-[14px]
                    lg:text-[22px] md:text-[22px] sm:text-[19px]">
            <a>About</a>
            <a>Contact</a>
            <a>Privacy</a>
        </div>
        <div class="flex flex-row justify-center gap-[8px]">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M19.3267 5.38625C19.2795 5.27204 19.1994 5.17441 19.0966 5.10572C18.9938 5.03702 18.873 5.00034 18.7494 5.00032H16.372C16.0397 4.43483 15.5666 3.96497 14.9989 3.63641C14.4312 3.30786 13.7881 3.13178 13.1322 3.12532C12.6435 3.11891 12.1585 3.21029 11.7057 3.39411C11.2529 3.57792 10.8414 3.85043 10.4955 4.19563C10.1394 4.54502 9.85685 4.96207 9.66433 5.42226C9.4718 5.88244 9.37322 6.37648 9.37439 6.87532V7.3511C6.22908 6.52141 3.65642 3.96282 3.62908 3.93547C3.54523 3.85088 3.43895 3.79201 3.32276 3.76579C3.20657 3.73957 3.08531 3.7471 2.97326 3.78749C2.86121 3.82788 2.76303 3.89944 2.69029 3.99376C2.61755 4.08807 2.57327 4.20121 2.56267 4.31985C2.22595 8.05344 3.31033 10.5519 4.28142 11.9902C4.75492 12.7012 5.33094 13.3383 5.9908 13.8808C4.80095 15.2503 2.92751 15.9698 2.9072 15.9777C2.81901 16.0107 2.73942 16.0632 2.67439 16.1313C2.60935 16.1995 2.56055 16.2814 2.53162 16.371C2.5027 16.4606 2.49441 16.5556 2.50736 16.6489C2.52031 16.7422 2.55417 16.8313 2.60642 16.9097C2.66501 16.9972 2.89939 17.3042 3.47205 17.5909C4.17986 17.9456 5.11501 18.1253 6.24939 18.1253C11.7705 18.1253 16.3838 13.8738 16.8549 8.40344L19.1916 6.0675C19.279 5.98005 19.3384 5.86864 19.3625 5.74738C19.3866 5.62612 19.3741 5.50044 19.3267 5.38625ZM15.8111 7.68391C15.704 7.79133 15.6395 7.93405 15.6299 8.08547C15.3119 13.0144 11.1931 16.8753 6.24939 16.8753C5.42439 16.8753 4.84314 16.7659 4.43533 16.6347C5.33455 16.1464 6.58845 15.3066 7.3947 14.0972C7.44202 14.0261 7.47426 13.946 7.48944 13.862C7.50461 13.7779 7.50239 13.6916 7.48291 13.6085C7.46344 13.5253 7.42712 13.447 7.37621 13.3784C7.32529 13.3098 7.26086 13.2524 7.18689 13.2097C7.15017 13.1886 3.75642 11.1519 3.74939 5.70969C4.99939 6.72532 7.28455 8.3011 9.89548 8.74016C9.98497 8.75525 10.0767 8.75067 10.1642 8.72674C10.2517 8.70281 10.333 8.6601 10.4024 8.60159C10.4717 8.54308 10.5275 8.47017 10.5659 8.38792C10.6042 8.30567 10.6242 8.21606 10.6244 8.12532V6.87532C10.6237 6.54192 10.6897 6.21174 10.8185 5.90423C10.9473 5.59672 11.1363 5.31807 11.3744 5.08469C11.6026 4.85602 11.8744 4.67542 12.1736 4.55358C12.4729 4.43174 12.7935 4.37112 13.1166 4.37532C14.1056 4.38782 15.0299 4.99094 15.4166 5.8761C15.4653 5.98738 15.5455 6.08205 15.6472 6.14851C15.7489 6.21497 15.8677 6.25035 15.9892 6.25032H17.2392L15.8111 7.68391Z" fill="#22272F"/>
                </svg>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 6.25C9.25832 6.25 8.5333 6.46993 7.91661 6.88199C7.29993 7.29404 6.81928 7.87971 6.53545 8.56494C6.25162 9.25016 6.17736 10.0042 6.32206 10.7316C6.46675 11.459 6.8239 12.1272 7.34835 12.6517C7.8728 13.1761 8.54098 13.5333 9.26841 13.6779C9.99584 13.8226 10.7498 13.7484 11.4351 13.4645C12.1203 13.1807 12.706 12.7001 13.118 12.0834C13.5301 11.4667 13.75 10.7417 13.75 10C13.749 9.00576 13.3535 8.05253 12.6505 7.34949C11.9475 6.64645 10.9942 6.25103 10 6.25ZM10 12.5C9.50555 12.5 9.0222 12.3534 8.61107 12.0787C8.19995 11.804 7.87952 11.4135 7.6903 10.9567C7.50108 10.4999 7.45157 9.99723 7.54804 9.51227C7.6445 9.02732 7.8826 8.58186 8.23223 8.23223C8.58186 7.8826 9.02732 7.6445 9.51227 7.54804C9.99723 7.45157 10.4999 7.50108 10.9567 7.6903C11.4135 7.87952 11.804 8.19995 12.0787 8.61107C12.3534 9.0222 12.5 9.50555 12.5 10C12.5 10.663 12.2366 11.2989 11.7678 11.7678C11.2989 12.2366 10.663 12.5 10 12.5ZM13.75 1.875H6.25C5.09006 1.87624 3.97798 2.33758 3.15778 3.15778C2.33758 3.97798 1.87624 5.09006 1.875 6.25V13.75C1.87624 14.9099 2.33758 16.022 3.15778 16.8422C3.97798 17.6624 5.09006 18.1238 6.25 18.125H13.75C14.9099 18.1238 16.022 17.6624 16.8422 16.8422C17.6624 16.022 18.1238 14.9099 18.125 13.75V6.25C18.1238 5.09006 17.6624 3.97798 16.8422 3.15778C16.022 2.33758 14.9099 1.87624 13.75 1.875ZM16.875 13.75C16.875 14.5788 16.5458 15.3737 15.9597 15.9597C15.3737 16.5458 14.5788 16.875 13.75 16.875H6.25C5.4212 16.875 4.62634 16.5458 4.04029 15.9597C3.45424 15.3737 3.125 14.5788 3.125 13.75V6.25C3.125 5.4212 3.45424 4.62634 4.04029 4.04029C4.62634 3.45424 5.4212 3.125 6.25 3.125H13.75C14.5788 3.125 15.3737 3.45424 15.9597 4.04029C16.5458 4.62634 16.875 5.4212 16.875 6.25V13.75ZM15 5.9375C15 6.12292 14.945 6.30418 14.842 6.45835C14.739 6.61252 14.5926 6.73268 14.4213 6.80364C14.25 6.87459 14.0615 6.89316 13.8796 6.85699C13.6977 6.82081 13.5307 6.73152 13.3996 6.60041C13.2685 6.4693 13.1792 6.30225 13.143 6.1204C13.1068 5.93854 13.1254 5.75004 13.1964 5.57873C13.2673 5.40743 13.3875 5.26101 13.5417 5.158C13.6958 5.05498 13.8771 5 14.0625 5C14.3111 5 14.5496 5.09877 14.7254 5.27459C14.9012 5.4504 15 5.68886 15 5.9375Z" fill="#22272F"/>
                </svg>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M16.875 1.875H3.125C2.79348 1.875 2.47554 2.0067 2.24112 2.24112C2.0067 2.47554 1.875 2.79348 1.875 3.125V16.875C1.875 17.2065 2.0067 17.5245 2.24112 17.7589C2.47554 17.9933 2.79348 18.125 3.125 18.125H16.875C17.2065 18.125 17.5245 17.9933 17.7589 17.7589C17.9933 17.5245 18.125 17.2065 18.125 16.875V3.125C18.125 2.79348 17.9933 2.47554 17.7589 2.24112C17.5245 2.0067 17.2065 1.875 16.875 1.875ZM16.875 16.875H3.125V3.125H16.875V16.875ZM7.5 8.75V13.75C7.5 13.9158 7.43415 14.0747 7.31694 14.1919C7.19973 14.3092 7.04076 14.375 6.875 14.375C6.70924 14.375 6.55027 14.3092 6.43306 14.1919C6.31585 14.0747 6.25 13.9158 6.25 13.75V8.75C6.25 8.58424 6.31585 8.42527 6.43306 8.30806C6.55027 8.19085 6.70924 8.125 6.875 8.125C7.04076 8.125 7.19973 8.19085 7.31694 8.30806C7.43415 8.42527 7.5 8.58424 7.5 8.75ZM14.375 10.9375V13.75C14.375 13.9158 14.3092 14.0747 14.1919 14.1919C14.0747 14.3092 13.9158 14.375 13.75 14.375C13.5842 14.375 13.4253 14.3092 13.3081 14.1919C13.1908 14.0747 13.125 13.9158 13.125 13.75V10.9375C13.125 10.5231 12.9604 10.1257 12.6674 9.83265C12.3743 9.53962 11.9769 9.375 11.5625 9.375C11.1481 9.375 10.7507 9.53962 10.4576 9.83265C10.1646 10.1257 10 10.5231 10 10.9375V13.75C10 13.9158 9.93415 14.0747 9.81694 14.1919C9.69973 14.3092 9.54076 14.375 9.375 14.375C9.20924 14.375 9.05027 14.3092 8.93306 14.1919C8.81585 14.0747 8.75 13.9158 8.75 13.75V8.75C8.75078 8.59691 8.80771 8.44943 8.91001 8.33553C9.01231 8.22164 9.15285 8.14925 9.30498 8.1321C9.45711 8.11495 9.61024 8.15423 9.73533 8.2425C9.86041 8.33076 9.94876 8.46186 9.98359 8.61094C10.4064 8.32412 10.8993 8.15789 11.4095 8.13009C11.9196 8.1023 12.4277 8.21399 12.8792 8.45317C13.3306 8.69236 13.7084 9.05 13.972 9.48769C14.2355 9.92538 14.3748 10.4266 14.375 10.9375ZM7.8125 6.5625C7.8125 6.74792 7.75752 6.92918 7.6545 7.08335C7.55149 7.23752 7.40507 7.35768 7.23377 7.42864C7.06246 7.49959 6.87396 7.51816 6.6921 7.48199C6.51025 7.44581 6.3432 7.35652 6.21209 7.22541C6.08098 7.0943 5.99169 6.92725 5.95551 6.7454C5.91934 6.56354 5.93791 6.37504 6.00886 6.20373C6.07982 6.03243 6.19998 5.88601 6.35415 5.783C6.50832 5.67998 6.68958 5.625 6.875 5.625C7.12364 5.625 7.3621 5.72377 7.53791 5.89959C7.71373 6.0754 7.8125 6.31386 7.8125 6.5625Z" fill="#22272F"/>
                </svg>
            </div>
        </div>
        <div class="flex pt-6 justify-center border-t-[1px] border-[#D4DAE3]">
            <h4 class="lg:text-[16px] md:text-[16px] sm:text-[14px] 
                        lg:leading-[22px] md:leading-[22px] sm:leading-[19px]">Copyright ©️ 2023 Ihavenothingtowear. All rights reserved.</h4>
        </div>
    </div>
</div>