---
import Nav from "../components/Nav.astro";
import "@fontsource-variable/inter";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Find your next outfit with the help of AI."
    />
    <title>I Have Nothing to Wear</title>
  </head>
  <body>
    <main>
      <Nav />
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --gradient-primary: linear-gradient(27deg, #6941c6 0%, #754fd8 100%);
    --gradient-neutral: linear-gradient(27deg, #374151 0%, #506079 100%);
    --gradient-hero: linear-gradient(48deg, #ecf8fc 0%, #f3e9ff 100%);
    --linear-purple: linear-gradient(27deg, #53389e 0%, #6941c6 100%);
    --linear-frosted-glass: linear-gradient(
      85deg,
      #fcfcfd 0%,
      rgba(252, 252, 253, 0.8) 99.66%
    );
  }

  @font-face {
    font-family: "Inter Variable";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  .gradient-primary-bg {
    background: var(--gradient-primary);
  }

  .button-hover:hover {
    filter: brightness(85%);
  }

  .gradient-hero-bg {
    background: var(--gradient-hero);
  }

  .linear-purple-bg {
    background: var(--linear-purple);
  }

  .linear-frosted-glass {
    background: var(--linear-frosted-glass);
  }

  .button-shadow {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
  }

  .hero-heading {
    line-height: 2.125rem;
    letter-spacing: -0.0285rem;
  }

  .hero-subheading {
    line-height: 1.6rem;
  }

  .heading-16 {
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: -0.011rem;
  }

  .heading-14 {
    line-height: 1.1875rem;
    letter-spacing: -0.00525rem;
  }

  @media (max-width: 1024px) {
    .mobile-h1 {
      line-height: 2.125rem !important;
    }
  }

  /* What's the right way to do this? */

  @media (min-width: 1024px) && (max-width: 1440px) {
    .tablet-h1 {
      line-height: 3.125rem !important;
    }
  }

  @media (min-width: 1440px) {
    .desktop-h1 {
      font-size: 4rem !important;
      line-height: 5.625rem !important;
      letter-spacing: 0.088rem !important;
    }
  }
</style>
